pipeline/Cha_9_2.json
{
	"name": "Cha_9_2",
	"properties": {
		"activities": [
			{
				"name": "LookupCalendar",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "CSV_ADLS_rizalmuja",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "latihanazure",
							"folder_name": "Cha_Case_9/Task_2",
							"file_name": "cal_numpy.csv",
							"delimiter_name": ".",
							"row_as_header": false
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupCalendar",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "apasaja",
							"value": {
								"type": "Expression",
								"content": "@split(activity('LookupCalendar').output.firstRow.Prop_0,',')"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupCalendar",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@split(activity('LookupCalendar').output.firstRow.Prop_0,',')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copyparquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Parquet_ADLS_Taxi",
									"type": "DatasetReference",
									"parameters": {
										"router": "trip-data",
										"file_name": {
											"value": "@concat('yellow_tripdata_',item(),'.parquet')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Parquet_ADLS_RizalMuja_Dataset",
									"type": "DatasetReference",
									"parameters": {
										"container_name": "latihanazure",
										"folder_name": {
											"value": "@concat('Cha_Case_9/Task_2/',item())",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat('yellow_taxi_',item(),'.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[rizaltaxi].[sp_yellow_taxi]"
				},
				"linkedServiceName": {
					"referenceName": "SQL_Synapse_Celerates",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"hasil": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Challenge"
		},
		"annotations": []
	}
}