pipeline/Challenge_Case_5_Image.json
{
	"name": "Challenge_Case_5_Image",
	"properties": {
		"activities": [
			{
				"name": "Lookup_List_Image",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT \n    STRING_AGG(image_name,',') AS concat_files\nFROM list_image;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_haniffajari_image",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": ".",
							"table_name": "."
						}
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_List_Image",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@split(replace(activity('Lookup_List_Image').output.firstRow.concat_files, '\\', ''), ',')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Transfer GCS From ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "GoogleCloudStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Binary_GCS_Image",
									"type": "DatasetReference",
									"parameters": {
										"bucket_name": "azure_data_engineer",
										"folder_name": "image",
										"file_name": {
											"value": "@concat(item(),'.png')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Binary_ADLS_Rizal",
									"type": "DatasetReference",
									"parameters": {
										"container_name": "latihanazure",
										"folder_name": "blob_storage/image",
										"file_name": {
											"value": "@concat(item(),'.png')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Success Log",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Transfer GCS From ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "sql_rizalmuja",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('INSERT INTO cha.image_log (image_name, url_name) VALUES (''', item(),''',', '''https://storageaccrizal.blob.core.windows.net/latihanazure/blob_storage/image/', item(),'.png''',');')",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Failed Log",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Transfer GCS From ADLS",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "sql_rizalmuja",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('INSERT INTO cha.image_log (image_name, url_name) VALUES (''', item(),''',','''failed'');')",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Challenge"
		},
		"annotations": []
	}
}